*	{
	font-family:	"JetbrainsMono Nerd Font", monospace;
	font-size:	15px;
	min-height: 0;
}

window#waybar	{
	background: transparent;
}

#workspaces {
	margin: 0 5px;
}

#workspaces button {
	padding: 2px 8px;
		margin: 0 2px;
		border-radius: 999px;
		background-color: #3b3b3b;
		color: #ffffff;
		border: 2px solid transparent;
}

#workspaces button.focused {
	background-color: #3b3b3b;
		color: #ffffff;
	border-color: #ffffff;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio {
	color: #ffffff;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio {
	background-color: #3b3b3b;
		padding: 4px 10px;
		margin: 0 3px;
		border-radius: 999px;
}
